@page "/child"
@using Models;
@using Assignment.Data;
@inject IGetFamilies igetfamilies;
@inject NavigationManager navigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <h3>Hello @context.User.Identity.Name</h3>

    <h5>Your security level is @context.User.FindFirst(claim => claim.Type.Equals("Level")).Value</h5>
</AuthorizeView>

<AuthorizeView Policy="SecurityLevel2" Context="Form">

<h1>Add Child</h1>

<EditForm Model="@newChild" OnValidSubmit="@addNewChild">
<DataAnnotationsValidator/>
<ValidationSummary/>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Family ID (0-@(igetfamilies.allfamilies().Count-1))</label>
                <br/>
                <InputNumber  @bind-Value="familyNumber"/>
            </div>
            <div class="form-group">
                <label class="control-label">ID</label>
                <br/>
                <InputNumber placeholder="Child ID" @bind-Value="newChild.Id"/>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <br/>
                <InputTextArea placeholder="First Name" @bind-Value="newChild.FirstName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <br/>
                <InputTextArea placeholder="Last Name" @bind-Value="newChild.LastName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Hair Color</label>
                <br/>
                <InputTextArea placeholder="Hair Color" @bind-Value="newChild.HairColor"/>
            </div>
            <div class="form-group">
                <label class="control-label">Eye Color</label>
                <br/>
                <InputTextArea placeholder="Eye Color" @bind-Value="newChild.EyeColor"/>
            </div>
            <div class="form-group">
                <label class="control-label">Age</label>
                <br/>
                <InputNumber placeholder="" @bind-Value="newChild.Age"/>
            </div>
            <div class="form-group">
                <label class="control-label">Weight</label>
                <br/>
                <InputNumber placeholder="" @bind-Value="newChild.Weight"/>
            </div>
            <div class="form-group">
                <label class="control-label">Height</label>
                <br/>
                <InputNumber placeholder="" @bind-Value="newChild.Height"/>
            </div>
            <div class="form-group">
                <label class="control-label">Sex</label>
                <br/>
                <InputTextArea placeholder="" @bind-Value="newChild.Sex"/>
            </div>
        </form>
        <button class="btn btn-primary" type="submit">Add new Child</button>
    </div>
</div>
</EditForm>

</AuthorizeView>

@code{
    private Child newChild = new Child();
    int familyNumber = 0;
    public void addNewChild(){
        igetfamilies.addNewChild(newChild, familyNumber);
        navigationManager.NavigateTo("/showadult");
    }
    protected override async Task OnInitializedAsync(){
        
    }

}