<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Assignment</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="showadult">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Adults
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="showfamily">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Find families
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="family">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Family
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="adult">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Adult
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="child">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Child
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="childInterest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Child Interest
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pet">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Pet
            </NavLink>
        </li>
        <AuthorizeView Policy="MustBeVIA">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="VIA">
                    <span class="oi oi-book" aria-hidden="true"></span> VIA
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
